.navbar-account {
  .account-icon-container {
    .icons {
      svg {
        fill: #fff;
      }
      display: flex;
      flex-direction: row;
      .icon {
        margin: 0 20px;
        .css-2ao5rv-MuiBadge-badge{
          color: #fff;
        }
      }

    }
  }

}
