

.navbar-account{
 
    .account-icon-container{
 
        .icons{
            svg{
                fill:#fff;
            }
         display: flex;
         flex-direction: row;
            .icon{
                margin: 0 20px;
            }
        }
    }
}