

.nav-content{
  .nav-bar-bar{
    .navbar{
      .navbar-nav{
        .nav-link{
          margin: 0 10px;
          letter-spacing: 3px;
        }
      }
    }
    .nav-account-icons{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
